@model EcommerceApplication.Models.ViewModel.RegisterDto

@{
    ViewData["Title"] = "";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form  method="post">
                <h3 background-colour="blue">Create a new account.</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <input asp-for="Gender" type="radio" id="Male" value="Male" name="Gender" checked> Male
                    <input asp-for="Gender" type="radio" id="Female" value="Female" name="Gender"> Female
                    <input asp-for="Gender" type="radio" id="Other" value="Other" name="Gender"> Other
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>              
                <div class="form-group">
                    <label asp-for="address"></label>
                    <input asp-for="address" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConformPassword"></label>
                    <input asp-for="ConformPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConformPassword" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label for="UserRole">Select a Role:</label>
                    <select asp-for="UserRole" class="form-control" asp-items="ViewBag.Name">
                     <option value="">-- Select Role --</option>
                    </select>
                    <span asp-validation-for="UserRole" class="text-danger"></span>
                 </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    <br />
    <br />

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
